$text-color-dark: #585858;
$text-color-light: #ffffff;
$text-color-light-2: #ccc5e8;
$text-color-light-3: #d5d5d5;
$text-color-purple: #dd1e5e;

$bg-color-purple: #302068;

$heading-dark: #29282c;
$paragraph-light: #7e7a8c;

$bg-color-1: #1f1e2c;
$bg-color: #0f1011;
$bg-color-light: #f8f2f2;

$input-bg: #291d53;
$input-text: #a89cd3;

$header-nav-padding: 2.1rem;

$section-padding: 15rem;
